In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [38]:
# !pip install xlrd
# %pip install xlrd

In [39]:
subway_fee = pd.read_excel("data-files/subway-stats.xls", "지하철 유무임별 이용현황") # xlrd 모듈 오류 발생하면 pip install xlrd 실행

In [40]:
subway_fee

,사용월,호선명,역ID,지하철역,유임승차,유임하차,무임승차,무임하차,작업일시
0,2023-11,1호선,150,서울역,"1,446,981","1,382,424","217,363","207,561",2023-12-03 09:30:40
1,2023-11,1호선,151,시청,"706,852","705,374","103,979","102,291",2023-12-03 09:30:40
2,2023-11,1호선,152,종각,"983,062","964,695","149,124","137,862",2023-12-03 09:30:40
3,2023-11,1호선,153,종로3가,"476,984","437,566","288,215","265,357",2023-12-03 09:30:40
4,2023-11,1호선,154,종로5가,"503,760","494,954","245,469","236,463",2023-12-03 09:30:40
...,...,...,...,...,...,...,...,...,...
612,2023-11,신림선,4407,당곡,"97,670","94,152","36,477","36,516",2023-12-03 09:30:40
613,2023-11,신림선,4408,신림,"35,127","51,633","15,737","18,935",2023-12-03 09:30:40
614,2023-11,신림선,4409,서원,"77,894","65,471","24,415","23,875",2023-12-03 09:30:40
615,2023-11,신림선,4410,서울대벤처타운,"217,023","193,997","65,142","64,578",2023-12-03 09:30:40
616,2023-11,신림선,4411,관악산(서울대),"58,912","63,597","29,703","30,296",2023-12-03 09:30:40

In [41]:
# 무임 승객 인원이 가장 많은 역 10개
# 무임 승객 비율이 가장 많은 역 10개
# 1. 무임승하차 컬럼 만들기 : 무임승차 + 무임하차

In [42]:
# 유임승하차, 무임승하차 컬럼 만들기
subway_fee["무임승하차"] = \
    subway_fee['무임승차'].map(lambda v: int(v.replace(",", ""))) + \
    subway_fee['무임하차'].map(lambda v: int(v.replace(",", "")))
subway_fee["유임승하차"] = \
    subway_fee['유임승차'].map(lambda v: int(v.replace(",", ""))) + \
    subway_fee['유임하차'].map(lambda v: int(v.replace(",", "")))
subway_fee["유임승하차"].dtype

dtype('int64')

In [43]:
# 무임승하차비율 컬럼 만들기
subway_fee["무임승하차비율"] = \
    subway_fee['무임승하차'] / (subway_fee["유임승하차"] + subway_fee['무임승하차'])

In [44]:
subway_fee.head()

,사용월,호선명,역ID,지하철역,유임승차,유임하차,무임승차,무임하차,작업일시,무임승하차,유임승하차,무임승하차비율
0,2023-11,1호선,150,서울역,"1,446,981","1,382,424","217,363","207,561",2023-12-03 09:30:40,424924,2829405,0.130572
1,2023-11,1호선,151,시청,"706,852","705,374","103,979","102,291",2023-12-03 09:30:40,206270,1412226,0.127445
2,2023-11,1호선,152,종각,"983,062","964,695","149,124","137,862",2023-12-03 09:30:40,286986,1947757,0.128420
3,2023-11,1호선,153,종로3가,"476,984","437,566","288,215","265,357",2023-12-03 09:30:40,553572,914550,0.377061
4,2023-11,1호선,154,종로5가,"503,760","494,954","245,469","236,463",2023-12-03 09:30:40,481932,998714,0.325488

In [45]:
# 무임승하차 컬럼 기준 정렬
sorted_values = subway_fee["무임승하차"].sort_values(ascending=False)
type(sorted_values)
sorted_values

125    561116
3      553572
8      546691
7      544624
62     513216
        ...
266         0
522         0
331         0
332         0
479         0
Name: 무임승하차, Length: 617, dtype: int64

In [46]:
# 정렬 -> 상위 10개 조회 1
top10_mask = subway_fee['무임승하차'].map(lambda v: v in sorted_values[:10].values)
subway_fee[top10_mask]

,사용월,호선명,역ID,지하철역,유임승차,유임하차,무임승차,무임하차,작업일시,무임승하차,유임승하차,무임승하차비율
3,2023-11,1호선,153,종로3가,"476,984","437,566","288,215","265,357",2023-12-03 09:30:40,553572,914550,0.377061
4,2023-11,1호선,154,종로5가,"503,760","494,954","245,469","236,463",2023-12-03 09:30:40,481932,998714,0.325488
7,2023-11,1호선,157,제기동,"236,214","225,295","263,515","281,109",2023-12-03 09:30:40,544624,461509,0.541304
8,2023-11,1호선,158,청량리(서울시립대입구),"380,377","369,038","271,514","275,177",2023-12-03 09:30:40,546691,749415,0.421795
29,2023-11,2호선,220,선릉,"1,370,785","1,208,533","235,172","206,951",2023-12-03 09:30:40,442123,2579318,0.146329
43,2023-11,2호선,234,신도림,"1,266,344","1,255,910","227,301","213,441",2023-12-03 09:30:40,440742,2522254,0.148749
62,2023-11,3호선,311,연신내,"767,377","723,576","261,096","252,120",2023-12-03 09:30:40,513216,1490953,0.256074
97,2023-11,4호선,412,창동,"550,341","584,816","218,017","225,113",2023-12-03 09:30:40,443130,1135157,0.280766
125,2023-11,경부선,1006,영등포,"989,522","1,020,072","279,903","281,213",2023-12-03 09:30:40,561116,2009594,0.218273
162,2023-11,경인선,1804,부천,"736,396","733,720","221,633","223,654",2023-12-03 09:30:40,445287,1470116,0.232477

In [50]:
# 정렬 -> 상위 10개 조회 2
top10_index = sorted_values[:10].index # index : 행 식별자
# subway_fee["컬럼명"]
# subway_fee.loc[행정보, 열정보]
# subway_fee.iloc[행번호, 열번호]
subway_fee.loc[top10_index, :]

,사용월,호선명,역ID,지하철역,유임승차,유임하차,무임승차,무임하차,작업일시,무임승하차,유임승하차,무임승하차비율
125,2023-11,경부선,1006,영등포,"989,522","1,020,072","279,903","281,213",2023-12-03 09:30:40,561116,2009594,0.218273
3,2023-11,1호선,153,종로3가,"476,984","437,566","288,215","265,357",2023-12-03 09:30:40,553572,914550,0.377061
8,2023-11,1호선,158,청량리(서울시립대입구),"380,377","369,038","271,514","275,177",2023-12-03 09:30:40,546691,749415,0.421795
7,2023-11,1호선,157,제기동,"236,214","225,295","263,515","281,109",2023-12-03 09:30:40,544624,461509,0.541304
62,2023-11,3호선,311,연신내,"767,377","723,576","261,096","252,120",2023-12-03 09:30:40,513216,1490953,0.256074
4,2023-11,1호선,154,종로5가,"503,760","494,954","245,469","236,463",2023-12-03 09:30:40,481932,998714,0.325488
162,2023-11,경인선,1804,부천,"736,396","733,720","221,633","223,654",2023-12-03 09:30:40,445287,1470116,0.232477
97,2023-11,4호선,412,창동,"550,341","584,816","218,017","225,113",2023-12-03 09:30:40,443130,1135157,0.280766
29,2023-11,2호선,220,선릉,"1,370,785","1,208,533","235,172","206,951",2023-12-03 09:30:40,442123,2579318,0.146329
43,2023-11,2호선,234,신도림,"1,266,344","1,255,910","227,301","213,441",2023-12-03 09:30:40,440742,2522254,0.148749

In [33]:
# 정렬 -> 상위 10개 조회 3
# subway_fee.sort_values("무임승하차", ascending=False, inplace=True) # inplace : 원본 변경 여부
subway_fee.sort_values("무임승하차", ascending=False, inplace=False) # inplace : 원본 변경 여부

In [36]:
subway_fee.iloc[:10, :]
# subway_fee[:10] # dataframe의 slicing은 행 번호 기준

,사용월,호선명,역ID,지하철역,유임승차,유임하차,무임승차,무임하차,작업일시,무임승하차,유임승하차,무임승하차비율
125,2023-11,경부선,1006,영등포,"989,522","1,020,072","279,903","281,213",2023-12-03 09:30:40,561116,2009594,0.218273
3,2023-11,1호선,153,종로3가,"476,984","437,566","288,215","265,357",2023-12-03 09:30:40,553572,914550,0.377061
8,2023-11,1호선,158,청량리(서울시립대입구),"380,377","369,038","271,514","275,177",2023-12-03 09:30:40,546691,749415,0.421795
7,2023-11,1호선,157,제기동,"236,214","225,295","263,515","281,109",2023-12-03 09:30:40,544624,461509,0.541304
62,2023-11,3호선,311,연신내,"767,377","723,576","261,096","252,120",2023-12-03 09:30:40,513216,1490953,0.256074
4,2023-11,1호선,154,종로5가,"503,760","494,954","245,469","236,463",2023-12-03 09:30:40,481932,998714,0.325488
162,2023-11,경인선,1804,부천,"736,396","733,720","221,633","223,654",2023-12-03 09:30:40,445287,1470116,0.232477
97,2023-11,4호선,412,창동,"550,341","584,816","218,017","225,113",2023-12-03 09:30:40,443130,1135157,0.280766
29,2023-11,2호선,220,선릉,"1,370,785","1,208,533","235,172","206,951",2023-12-03 09:30:40,442123,2579318,0.146329
43,2023-11,2호선,234,신도림,"1,266,344","1,255,910","227,301","213,441",2023-12-03 09:30:40,440742,2522254,0.148749

In [53]:
# 변경된 데이터의 인덱스 재구성
sorted_subway_fee = subway_fee.sort_values("무임승하차", ascending=False, inplace=False)
sorted_subway_fee.reset_index(inplace=True, drop=True) # 인덱스를 다시 생성
sorted_subway_fee

,사용월,호선명,역ID,지하철역,유임승차,유임하차,무임승차,무임하차,작업일시,무임승하차,유임승하차,무임승하차비율
0,2023-11,경부선,1006,영등포,"989,522","1,020,072","279,903","281,213",2023-12-03 09:30:40,561116,2009594,0.218273
1,2023-11,1호선,153,종로3가,"476,984","437,566","288,215","265,357",2023-12-03 09:30:40,553572,914550,0.377061
2,2023-11,1호선,158,청량리(서울시립대입구),"380,377","369,038","271,514","275,177",2023-12-03 09:30:40,546691,749415,0.421795
3,2023-11,1호선,157,제기동,"236,214","225,295","263,515","281,109",2023-12-03 09:30:40,544624,461509,0.541304
4,2023-11,3호선,311,연신내,"767,377","723,576","261,096","252,120",2023-12-03 09:30:40,513216,1490953,0.256074
...,...,...,...,...,...,...,...,...,...,...,...,...
612,2023-11,일산선,1949,지축,15,0,0,0,2023-12-03 09:30:40,0,15,0.000000
613,2023-11,7호선,2757,부천시청,1,0,0,0,2023-12-03 09:30:40,0,1,0.000000
614,2023-11,경의선,1295,김포공항,2,0,0,0,2023-12-03 09:30:40,0,2,0.000000
615,2023-11,경의선,1296,계양,6,0,0,0,2023-12-03 09:30:40,0,6,0.000000
616,2023-11,6호선,2649,신내,7,0,0,0,2023-12-03 09:30:40,0,7,0.000000

In [55]:
# 무임승차비율 기준 상위 10개 역 조회
subway_fee.sort_values("무임승하차비율", ignore_index=True, ascending=False)

,사용월,호선명,역ID,지하철역,유임승차,유임하차,무임승차,무임하차,작업일시,무임승하차,유임승하차,무임승하차비율
0,2023-11,경원선,1916,소요산,"30,976","25,517","50,537","46,003",2023-12-03 09:30:40,96540,56493,0.630844
1,2023-11,경의선,1286,운천,116,32,127,107,2023-12-03 09:30:40,234,148,0.612565
2,2023-11,1호선,157,제기동,"236,214","225,295","263,515","281,109",2023-12-03 09:30:40,544624,461509,0.541304
3,2023-11,중앙선,1218,원덕,"5,066","4,956","5,826","5,742",2023-12-03 09:30:40,11568,10022,0.535804
4,2023-11,경춘선,1324,굴봉산,"1,646","1,537","1,873","1,750",2023-12-03 09:30:40,3623,3183,0.532324
...,...,...,...,...,...,...,...,...,...,...,...,...
612,2023-11,7호선,2757,부천시청,1,0,0,0,2023-12-03 09:30:40,0,1,0.000000
613,2023-11,6호선,2649,신내,7,0,0,0,2023-12-03 09:30:40,0,7,0.000000
614,2023-11,경의선,1295,김포공항,2,0,0,0,2023-12-03 09:30:40,0,2,0.000000
615,2023-11,경의선,1296,계양,6,0,0,0,2023-12-03 09:30:40,0,6,0.000000
616,2023-11,일산선,1949,지축,15,0,0,0,2023-12-03 09:30:40,0,15,0.000000